#progress-bar{
    --progress:0;
height: 6px;
width: var(--progress);
background-color:#ff002e;
position: fixed;
z-index: 30;


}

// .progress-bar {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 10px;
//   height: 6px;
//   width: 10px;
//   background-color: #ff002e;
//   z-index:99;
//   transform-origin: 0%;}